// sidebar
$sideBarBg: #00152a;


$sideBarWidth: 260px;
$sideBarItemHeight: 50px;
//$sideBarTitleBg: linear-gradient(rgb(131, 192, 238), rgb(84, 166, 230));
$sideBarTitleBg: #00152a;
$sideBarItemBg: #00152a;
$sideBarBgFocus: #409eff;
$sideBarTitleTextColor: #fff;
$sideBarItemTextColor: #fff;

// header
//$headerBackgroundImage: linear-gradient(rgb(9, 129, 209), rgb(129, 183, 224));
$headerBackgroundImage: #002140;
$headerTextColor: #fff;
